body {
    background-color: cadetblue;
    text-align: center;
}

.navbar-default {
    background-color: cadetblue;
}

#bs-example-navbar-collapse-1 {
    background-color: cadetblue;
}

h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: darkslategrey;
}

h2 {
    color: darkslategrey;
    font-family: sans-serif;
    font-style: italic;
    font-size: 30px;
}

p {
    color: darkslateblue;
}
